.app {
  text-align: center;
  color: white;
}

.app .header {
  height: 100px;
  padding: 20px;
}

.app .header .title {
  font-size: 1.5em;
}

.app .toolbox input {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  height: 20px;
  padding: 10px;
  color: white;
  outline: none;
  font-size:18px;
  margin: 0 10px;
}

.app .toolbox button {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  color: white;
  outline: none;
  font-size: 18px;
  margin: 0 10px;
}

.app .result {
  margin: 20px auto;
  width: 950px;
  height: 100%;
}

.app .result img {
  width: 200px;
  max-height: 200px;
  margin: 0 50px;
}