body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: rgb(167,249,167);
  background: -moz-linear-gradient(left, rgba(167,249,167,1) 0%, rgba(83,203,241,1) 43%, rgba(5,171,224,1) 100%);
  background: -webkit-linear-gradient(left, rgba(167,249,167,1) 0%,rgba(83,203,241,1) 43%,rgba(5,171,224,1) 100%);
  background: linear-gradient(to right, rgba(167,249,167,1) 0%,rgba(83,203,241,1) 43%,rgba(5,171,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7f9a7', endColorstr='#05abe0',GradientType=1 );
}
